---
const currentYear = new Date().getFullYear();
---

<footer class="main-footer">
  <div class="container footer-bottom">
    <p>&copy; {currentYear} Marchive. All rights reserved.</p>
    <div class="footer-links">
      <a href="#">PRIVACY POLICY</a>
      <a href="#">TERMS OF SERVICE</a>
      <a href="#">CONTACT</a>
    </div>
  </div>
</footer>

<style>
  @import "../styles/footer.css";
</style>
